DISCORD_TOKEN='TOKEN'
DISCORD_TOKEN_DEV='DEV_TOKEN'
DISCORD_CLIENT_ID='CLIENT_ID'
DISCORD_CLIENT_SECRET='CLIENT_SECRET'
WEBSITE_URL='http://localhost:3000'
NEXT_PUBLIC_API_URL='http://localhost:18103'

MYSQL_ADDRESS='YOUR_MYSQL_SERVER_ADDRESS'
MYSQL_PORT='YOUR_MYSQL_SERVER_PORT'
MYSQL_USER='YOUR_MYSQL_USER'
MYSQL_PASSWORD='YOUR_MYSQL_PASSWORD'
MYSQL_DATABASE='YOUR_DATABASE_NAME'

JWT_SECRET='YOUR_JWT_SECRET'
AUTH="AUTH_KEY_FOR_API"