<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chatr - A Discord XP Bot
	</title>
	<meta name="description" content="Chatr - A Discord XP Bot">
	<link rel="stylesheet" href="/styles.css">
</head>

<body>
	<main>
		<div class="box">
			<div class="guildInfo">
				<h1>Chatr - A Discord XP Bot</h1>
			</div>
		</div>
		<div class="leaderboard">
			<div class="user">
				<div class="userInfo">
					<h1 class="userName">Chatr is in:</h1>
					<h1>
						<%=botInfo.total_guilds%> Guilds
					</h1>
				</div>
			</div>
			<div class="user">
				<div class="userInfo">
					<h1 class="userName">With a total of:</h1>
					<h1>
						<%=botInfo.total_members%> Members
					</h1>
				</div>
			</div>
			<div class="user">
				<div class="userInfo">
					<h1 class="userName">Updating the XP of:</h1>
					<h1>
						<%=botInfo.user_count%> Members
					</h1>
				</div>
			</div>
		</div>
		<div class="leaderboard">
			<div class="user">
				<div class="userInfo">
					<a href="/invite">Invite the bot!</a>
				</div>
			</div>
			<div class="user">
				<div class="userInfo">
					<h1 class="userName">(Search modal soon)</h1>
				</div>
			</div>
		</div>
	</main>
</body>

</html>